header{
    background-color: map-get($colors, vulcan);
}
.top-header-wrapper{
    border-bottom: 1px solid map-get($colors, Black-Russian);
}
.top-header{
   padding:rem-calc(23 0);
}
.top-header-left{
    width: 34%;
}
.top-header-mid{
    width: 40.5%;
}
.top-header-right{
    width: 25.5%;
}
.site-search{
    @include border-radius(6px);
    border: 2px solid #2d323b;
}
.site-search-field{
    width: 100%;
    padding:rem-calc(10 125 9 17);
    margin: 0;
    border: 0;
    @include border-radius(4px);
    font-family:'Poppins', sans-serif;
    @include font(false, 16px, 25px, false);
    &:focus{
        outline: 0;
    }
}
.site-search-btn{
    @include transition(all, 400ms);
    @include font(false, 16px, 22px,false);
    @include absolute(117px, 100%, right,0, top,0);
    @include border-radius(0 4px 4px 0);
    color: map-get($colors , white);
    background-color: map-get($colors , brand);

    i{
        @include font(false, 20px, 22px,false);
    }

    &:hover{
        background-color:darken( map-get($colors , brand), 5)
    }
}
.top-header-widgets{
    padding:rem-calc(0 15px);
    text-align: center;
    & > a{
       color: map-get($colors , white); 
    }
    span{
        @include font(false, 14px, 18px,false);
    }
}
.header-widgets-icon{
    width: 26px;
    height: 26px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
    @include border-radius(50%);
}
.header-widgets-icon i{
    line-height: 16px;
    @include center(false, false);
    color: map-get($colors , white);
}
.header-widgets-icon i.icofont-heart-alt{
    top: 14px;
}

.btm-header{
    padding: rem-calc(5px 0 7px);
}
.main-menu{
    width: calc(100% - 138px);
    > ul{
        > li{
            padding: rem-calc(0 15px);
            display: inline-block;
            @include font(white, 15px, 30px, light);
            a{
               color: map-get($colors , white); 
            }
            ul{
                display: none;
            }
        }
    }
    .more-menu{
        padding-left: rem-calc(15px);
        @include font(brand, 15px, 30px, light);
    }
}
.post-add{
    width: 138px;
    text-align: center;
    @include border-radius(6px);
    @include font(white, 15px, 30px, false);
    border: 1px solid map-get($colors, Black-Russian);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1c1e22+0,2b3037+100 */
background: #1c1e22; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #1c1e22 0%, #2b3037 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #1c1e22 0%,#2b3037 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #1c1e22 0%,#2b3037 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1e22', endColorstr='#2b3037',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



